BasedOnStyle: WebKit

UseTab: Never
IndentWidth: 4
ColumnLimit: 90
MaxEmptyLinesToKeep: 1
PenaltyBreakComment: 0

NamespaceIndentation: None

AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

BreakBeforeBraces: Attach
