name: build
on: [pull_request, push]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install dependencies
        run: |
          sudo sed -i 's/azure\.//' /etc/apt/sources.list
          sudo apt-get update
          sudo apt-get install -y libasound2-dev qtbase5-dev libqwt-qt5-dev

      - name: Build
        run: make

      - name: Run help
        run: ./bin/signal-estimator -h
